* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  transition: 0.3s;
}

html,
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;

  max-width: 100vw;
}

.anim-background {
  background-color: #222222;
  background-image: radial-gradient(#9cd75318, #222222, #45bdcd18);
  background-size: 300% 300%;

  animation: bg 20s infinite;
}

@keyframes bg {
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 100% 100%;
  }

  50% {
    background-position: 0 100%;
  }

  75% {
    background-position: 100% 0;
  }
}