.bg {
    background-image: url("/bg.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;

    z-index: -1;
    width: 100vw;
    height: 100vh;

    filter: brightness(0.4);
}

.mainCard {
    position: relative;
    background-color: #0000007a;

    padding: 80px 20px;

    box-shadow: 0 0 10px black;
    backdrop-filter: blur(5px);
}

.logo {
    margin: auto;

    max-width: 500px;
}